{% extends 'layout.html' %}

{% block content %}
    {% block nav %}
    {% endblock nav %}
    
<h1>Payment Receipt</h1><br>
<h1 style="color: #0d6efd ;">Member Details</h1><br>
    <h2>Name - {{ member.mname }}</h2>
    <h2>Email - {{ member.email }}</h2>
    <h2>Contact - {{ member.contact }}</h2><br>
    <table class="table table-bordered text-center">
        <thead>
          <tr style="color: #0d6efd" >
            <th scope="col">Issue Id</th>
            <th scope="col">Book Id</th>
            <th scope="col">Date</th>
            <th scope="col">Amount</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          {% for issue in issues %}
          <tr>
            <th scope="row">{{ issue.issue_id }}</th>
            <td><h3>{{ issue.bid }}</h3></td>
            <td><h3>{{ date }}</h3></td>
            <td><h3>{{ issue.fee }}</h3></td>
            <td><h3 style="color: green">Paid</h3></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
{% endblock content %}